body{
    background: #2f5164;
    color : #f7f7f7;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 100;
    letter-spacing: .7px;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.main
{
    padding: 10px;
    background: #193848;
    width: 100%;
    margin:  0 auto;
    margin-top: 20px;
    border-radius: 10px;    
    box-sizing: border-box;
    padding-right: 20px;
    padding-left: 20px;
    height: -webkit-fill-available;
}

.tab{    
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
    margin: 5px;
    padding-bottom: 10px;
    Xborder-bottom: 1px solid #2f5164;
}

.comp_data h2
{
    font-size: 18px;    
    font-weight: 100;
    padding-left: 10px;
}

.select_comp{
    width: 523px;
    height: 35px;
    background: #d6d6d6;
    margin: 10px;
    border-radius: 5px;
    color: #444;
    line-height: 35px;
    padding-left: 20px;
}

.stmt_list
{    
    margin-bottom: 5px;
}

.stmt_list ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 2px;
    border: 1px solid #2f5164;
    background: #2f5164;
    border-radius: 5px;
}


.stmt_list ul li{
    width: 150px;
    padding: 6px;
    text-align: center;
    margin-right: 5px;
    text-transform: uppercase;
    font-size: 10px;    
}

.stmt_list ul li:hover , .stmt_list ul .active{
    background: #193847;
    cursor: pointer;
    border-radius: 4px;
}

.mid_table{
    padding: 5px 30px 30px 30px;
    background: #2f5164;
    border-radius: 5px;        
    
}


.mid_table .table_wrap
{
    background: #193846;
    width: fit-content;
    padding: 2px 1px 1px 1px;
    border-radius: 6px 6px 0px 0px;
    width: 100%;
}


.table_wrap table {
    border-collapse: collapse;
    border: 1px solid #193847;
    background: #2f5164;  
    width: 100%;
}


.table_wrap table thead th{
    width: 150px;
    background: #193847;
    height: 22px;
    padding: 5px;
    font-weight: 500;
    text-align: right;
    color : #539abb;
    border-bottom: 1px solid #3a7692;
    font-size: 13px;
    
}

.table_wrap table thead th:first-child , .table_wrap table tbody td:first-child{
    text-align: left;
}

.table_wrap table tbody tr{
    
    border-bottom :  1px solid #193847;    
}

.table_wrap table tbody tr td{
    
    padding : 6px 5px 6px 5px;
    font-weight: 100;
    text-align: right;
}

.table_wrap table tbody tr:hover{
    background: #1d465d;
    border-bottom: 1px solid #133a50;
}



.type_list{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0 0 10px 0;
}

.type_list li{
    padding: 5px 8px 5px 8px;    
    margin-right: 15px;    
    text-transform: uppercase;
    font-size: 10px;
}

.type_list .active , .type_list li:hover
{
    border-bottom: 1px solid #fff;
    color: #fff;
    cursor: pointer;
}
